<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AmazonEndtoEndSuite">
  <test name="CompleteEnd2EndTest">
    <classes>
      <class name="com.codiis.amazon.test.AmazonEnd2EndTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
